.graph-container {
    cursor: pointer;
}

.w3-container{
    background-color:white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.graph-container {
    padding: 0 0 0 0;
    border: 0;
    background-color: #d9d9d9;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.graph-container:hover .graphs {
    opacity: 0.7;
}

.fa-arrow-left {
    margin-bottom: 20px;
    color: black;
    display: none;
}

.p2{
    margin-top: 20px;
}

#empty-container {
    display: block;
    height: 400px;
    width: 100%;
    padding-top: 120px;
    text-align: center;
    color: grey;
}