.sort-container {
    margin-top: auto;
    margin-bottom: auto;
}

.fa-arrow-up {
    margin-left: 20px;
    color: gray;
}

.sort-button {
    font-size: larger;
}

.folder-container {
    width: 230px;
    display: flex;
}

.folder {
    width: 100%;
    margin-left: 20px;
}
