#mySidebar {
    background-color: #b3d9ff;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid darkblue;

    margin-top: auto;
    margin-bottom: auto;
}

.other-folder-triangle {
    border-left: 10px solid black;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid blue;
}

.fa-folder {
    color: darkblue;
}

.fa-folder-other {
    color: black;
}

.folder-title {
    margin: auto auto auto 10px;
    color: black;
}

.fa-plus {
    color: darkblue;
    margin: auto 5px;
}

.flex-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.break {
    height: 2px;
    background: #66adff;
    border-width: 0;
    width: 98%;
    margin: auto;
}

.fa-clock {
    color: darkblue;
}

.fa-star {
    color: darkblue;
}

.fa-trash {
    color: darkblue;
}