.file-path-button {
    font-size: x-large;
    background-color: transparent;
    border: none;
    cursor:pointer;
    outline:none;
}

.file-path-button:hover {
    background-color: lightgray;
}

#softeng350-path-button {
    display: none;
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    /*position of the tooltiptext*/
    position: absolute;
    margin-left: -200px;
    top: 38px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
