.search-button {
    background-color:transparent;
    border:0;
}

.fa-search {
    color: gray;
}

input[type="text"] {
    border:none;
}

input:focus {
    /* removing the input focus blue box */
    outline: none;
}

.wrapper {
    border-color: lightgray;
    border-style: solid;
    height: 100%;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.search-button:focus {
    outline: none;
}

.icon-container {
    padding-top: 7px;
}

.icon {
    border-radius: 50%;
    padding: 5px;
    color: gray;
    cursor: pointer;
}

.icon:hover {
    background-color: lightgray;
}

.fa-question-circle {
    /*margin-left: 50px;*/
}

.fa-cog {
    /*margin-left: 20px;*/
    /*margin-right: 60px;*/
}

.fa-bars {
    /*margin-right: 20px;*/
}

.login {
    height: 50px;
    margin-left: 20px;
}

.topnav {
    padding-top: 20px
}


